@media only screen and (max-width: 480px) {
    /* horizontal scrollbar for tables if mobile screen */
    .tablemobile {
        overflow-x: auto;
        display: block;
    }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}




